pipeline/CA_Log_table.json
{
	"name": "CA_Log_table",
	"properties": {
		"activities": [
			{
				"name": "CopyData1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlPoolSink",
						"preCopyScript": {
							"value": "DROP TABLE DBO.EXPDATE5",
							"type": "Expression"
						},
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						},
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "accName",
									"type": "String"
								},
								"sink": {
									"name": "accName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "expDate",
									"type": "String"
								},
								"sink": {
									"name": "expDate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "CustEmlSrc",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlPoolTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CreateLogs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopyData1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'dbo.ExpDate5' as Source,\n'CACreateLogs' as Destination,\n'@{activity('CopyData1').output.executionDetails[0].status}' as Execution_Status,\n'@{utcnow()}' as ErrorLoggedTime",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference",
						"parameters": {
							"ds_filename": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"filename": {
				"type": "string",
				"defaultValue": "logs"
			}
		},
		"variables": {
			"Test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}