pipeline/MetTel.json
{
	"name": "MetTel",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://id.bruin.com/identity/connect/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"content-type": "application/x-www-form-urlencoded"
					},
					"body": "client_id=1QuQH0gebBW96Gjxs2uUn0HqKmV6LGSE&client_secret=1RNGDOBTwECQVUbgcSts52B6IcDlm6PmZkWybfqZdBGXVaRLRR7e9p1A62myJzRm&grant_type=client_credentials&scope=public_api"
				}
			},
			{
				"name": "Get raw data to csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@{concat('bearer ',activity('GetBearerToken').output.access_token)}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['userID']"
								},
								"sink": {
									"name": "userID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['username']"
								},
								"sink": {
									"name": "username",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['dirID']"
								},
								"sink": {
									"name": "dirID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['firstName']"
								},
								"sink": {
									"name": "firstName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['lastName']"
								},
								"sink": {
									"name": "lastName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['clientID']"
								},
								"sink": {
									"name": "clientID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['title']"
								},
								"sink": {
									"name": "title",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['phoneNumber']"
								},
								"sink": {
									"name": "phoneNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['role']"
								},
								"sink": {
									"name": "role",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['employeeID']"
								},
								"sink": {
									"name": "employeeID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['mobileNumber']"
								},
								"sink": {
									"name": "mobileNumber",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['documents']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "Bruin_RestDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ABS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "main",
							"Path": "Data/Sammons Industrial/Sammons Industrial/MetTel",
							"FileName": {
								"value": "@concat('MetTel_UsersAPI_',formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyyMMddHHmmss'),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"folder": {
			"name": "annie"
		},
		"annotations": []
	}
}