pipeline/PL_SCALE_AZURE_SQL_DW.json
{
	"name": "PL_SCALE_AZURE_SQL_DW",
	"properties": {
		"activities": [
			{
				"name": "Until SQL POOL is Paused or Online",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Paused')),Bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Online')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check for changed SQLPool Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups/@{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Synapse/workspaces/@{pipeline().parameters.SynapseWorkspace}/sqlPools/@{pipeline().parameters.SynapseDedicatedSQLPool}/?api-version=2019-06-01-preview",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Check for changed SQLPool Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitTimeUntil",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.00:20:00"
				}
			},
			{
				"name": "Check if SQL POOL is Paused",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until SQL POOL is Paused or Online",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(startswith(activity('Check for changed SQLPool Status').Output.Properties.status,'Paused'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/{pipeline().parameters.SubscriptionID}/resourceGroups/{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Synapse/workspaces/{pipeline().parameters.SynapseWorkspace}/sqlPools/{pipeline().parameters.SynapseDedicatedSQLPool}/@{pipeline().parameters.Action}?api-version=2019-06-01-preview",
									"type": "Expression"
								},
								"method": "POST",
								"body": "The",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitTime",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Scale SQL Pool",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Check if SQL POOL is Paused",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionID}/resourceGroups/@{pipeline().parameters.Synapse_ResourceGroupName}/providers/Microsoft.Synapse/workspaces/@{pipeline().parameters.SynapseWorkspace}/sqlPools/@{pipeline().parameters.SynapseDedicatedSQLPool}/?api-version=2019-06-01-preview",
						"type": "Expression"
					},
					"method": "PATCH",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\"sku\": { \"name\": '@{pipeline().parameters.PerformanceLevel}' } }",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"parameters": {
			"Action": {
				"type": "string",
				"defaultValue": "Resume"
			},
			"WaitTime": {
				"type": "int",
				"defaultValue": 10
			},
			"WaitTimeUntil": {
				"type": "int",
				"defaultValue": 30
			},
			"Synapse_ResourceGroupName": {
				"type": "string",
				"defaultValue": "TalendResources"
			},
			"SynapseWorkspace": {
				"type": "string",
				"defaultValue": "briggs-p-wus-syn-01"
			},
			"SynapseDedicatedSQLPool": {
				"type": "string",
				"defaultValue": "briggsmdw"
			},
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "92e01a22-48f8-44af-9e12-81a013ff7882"
			},
			"PerformanceLevel": {
				"type": "string",
				"defaultValue": "DW500c"
			}
		},
		"folder": {
			"name": "Briggs Data Load Theme wise"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-09T05:21:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}