pipeline/RingCentral_Ext.json
{
	"name": "RingCentral_Ext",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://platform.devtest.ringcentral.com/restapi/oauth/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-type": "application/x-www-form-urlencoded",
						"Authorization": {
							"value": "@concat('Basic ', base64('jNW_3spcQZWYyqu5mBE5hQ:DDJbGUXzRuGLHylvm13JNQtSjd3XGbSVehASpe9bbttw'))",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=','eyJraWQiOiI4NzYyZjU5OGQwNTk0NGRiODZiZjVjYTk3ODA0NzYwOCIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJhdWQiOiJodHRwczpcL1wvcGxhdGZvcm0uZGV2dGVzdC5yaW5nY2VudHJhbC5jb21cL3Jlc3RhcGlcL29hdXRoXC90b2tlbiIsInN1YiI6Ijc0ODc1MjAwNSIsImlzcyI6Imh0dHBzOlwvXC9wbGF0Zm9ybS5kZXZ0ZXN0LnJpbmdjZW50cmFsLmNvbSIsImV4cCI6MzgxMzA4MTY3NiwiaWF0IjoxNjY1NTk4MDI5LCJqdGkiOiJ6STZlOWdXU1NueVNNQ3p5bjhyRm1nIn0.Uno8K_3G78A_KSkI_kmaFOYrgy1Pqzyza83q6zauTn6JjwgxILR52WIRRfcfgwGOa7_3s0pC9_1ixr3r715izCb5ZudLFMcjeIBn1rSIyLVloFhRov9xpiIXeb6Er3rXPIjRXU1xOwB35i8mIKjp2Bd2YE72mbjH70X0b2EEiYK5k0kDwO8R0FstA8sEbJPPxKB6YD3adiaXwbszj-AuLZv7Maik5ezwxnK6E3BKI4jdOVPjwinz7l0CrcsIgk6K2DplhluERESn44INey2qzffkbQsf_BqRd-P6N0P1tvpdlplBGgTgurWcpUc2ia0mJEOukul_zEyp0Yf6bj2_4Q')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get raw data to DW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "ImportDate",
								"value": {
									"value": "@formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyy-MM-dd hh:mm:ss')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@{concat('bearer ',activity('GetBearerToken').output.access_token)}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF OBJECT_ID('briggsbetamdw.SitePro.RingCentralUsers') IS NOT NULL\n   TRUNCATE TABLE briggsbetamdw.SitePro.RingCentralUsers;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "ExtensionID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['extensionNumber']"
								},
								"sink": {
									"name": "ExtensionNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contact']['firstName']"
								},
								"sink": {
									"name": "FirstName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contact']['lastName']"
								},
								"sink": {
									"name": "LastName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contact']['jobTitle']"
								},
								"sink": {
									"name": "JobTitle",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contact']['department']"
								},
								"sink": {
									"name": "Department",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contact']['email']"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contact']['businessPhone']"
								},
								"sink": {
									"name": "BusinessPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contact']['emailAsLoginName']"
								},
								"sink": {
									"name": "EmailAsLoginName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "FullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['permissions']['admin']['enabled']"
								},
								"sink": {
									"name": "Enabled",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ImportDate']"
								},
								"sink": {
									"name": "ImportDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['records']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "RingCentral_RestDataset",
						"type": "DatasetReference",
						"parameters": {
							"relativeURI": "restapi/v1.0/account/~/extension"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "SitePro",
							"table_name": "RingCentralUsers"
						}
					}
				]
			},
			{
				"name": "Lookup_RingCentralUsers",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get raw data to DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT ExtensionID FROM SitePro.RingCentralUsers WHERE ExtensionID IS NOT NULL;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Briggs_MDW",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "SitePro",
							"table_name": "RingCentralUsers"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_RingCentralUsers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_RingCentralUsers').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetCustomFields",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_RCextensions",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@{concat('bearer ',activity('GetBearerToken').output.access_token)}",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RingCentral_RestDataset",
									"type": "DatasetReference",
									"parameters": {
										"relativeURI": {
											"value": "@concat('restapi/v1.0/account/~/extension',item())",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "main",
										"Path": "Data/Sammons Industrial/Sammons Industrial/RingCentral",
										"FileName": "@concat('RingCentral_ExtensionsAPI_',formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'yyyyMMddHHmmss'),'.csv')"
									}
								}
							]
						},
						{
							"name": "Lookup_RCextensions",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT DISTINCT ExtensionID FROM SitePro.RingCentralUsers",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Briggs_MDW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "SitePro",
										"table_name": "SitePro.RingCentralUsers"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "annie"
		},
		"annotations": []
	}
}